.weatherD {
  text-transform: capitalize;
  font-size: 30px;
}
.imgBox {
  text-align: center;
}

/* ========
Image changes
=========== */

/*Clouds*/
.cloud {
  width: 200px;
  height: 50px;
  background-color: #000;
  border-radius: 30px;
  position: relative;
  left: 40px;
  z-index: 0;
}
.cloud_style_1::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #000;
  border-radius: 30px;
  position: relative;
  box-shadow: 40px -10px 0 20px #000, 80px -10px 0 10px #000,
    115px -5px 0 -10px #000;
  z-index: 0;
}
/* Thunder */
.thunder {
  animation: flicker 2s infinite, bob 3s ease-in-out infinite;
}

.bolt {
  position: relative;
  width: 80px;
  height: 50px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.bolt::before,
.bolt::after {
  content: " ";
  position: absolute;
  z-index: 1;
}

.bolt::before {
  width: 0;
  height: 0;
  left: -4px;
  top: 5px;
  border-style: solid;
  border-width: 0px 20px 27px 80px;
  border-color: transparent transparent #fbeb36 transparent;
  transform: rotate(-60deg);
}
.bolt::after {
  width: 0;
  height: 0;
  left: 4px;
  top: -40px;
  border-style: solid;
  border-width: 0px 20px 27px 80px;
  border-color: transparent transparent #fbeb36 transparent;
  transform: rotate(-60deg) scaleY(-1) scaleX(-1);
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  4% {
    opacity: 0;
  }
  6% {
    opacity: 0.6;
  }
  8% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.9;
  }
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

/*Rain*/
.rain {
  width: 180px;
  height: 140px;
}
.drop {
  position: relative;
  float: right;
  width: 2px;
  margin: -10px;
  left: 20px;
  background: #789;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
  animation: rain 0.8s infinite ease-out;
  z-index: 0;
  transform: rotate(20deg);
}

.drop:nth-child(1) {
  height: 15px;
  top: 5px;
  left: 0%;
  animation-delay: -1s;
}
.drop:nth-child(2) {
  height: 20px;

  left: -10%;
  animation-delay: -1.4s;
}
.drop:nth-child(3) {
  height: 15px;

  left: -20%;
  animation-delay: -1.6s;
}
.drop:nth-child(4) {
  height: 10px;

  left: -30%;
  animation-delay: -1.2s;
}
.drop:nth-child(5) {
  height: 20px;

  left: -40%;
  animation-delay: -1.6s;
}
.drop:nth-child(6) {
  height: 10px;

  left: -50%;
  animation-delay: -1.3s;
}
.drop:nth-child(7) {
  height: 15px;

  left: -60%;
  animation-delay: -2s;
}
.drop:nth-child(8) {
  height: 10px;

  left: -70%;
  animation-delay: -1.8s;
}

@keyframes rain {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(25deg);
  }
  100% {
    opacity: 0.2px;
    transform: translate(-40px, 100px) rotate(25deg);
  }
}
/*Snow*/
.snow {
  width: 180px;
  height: 140px;
}
.fall {
  position: relative;
  float: right;
  width: 6px;
  height: 6px;
  margin: -10px;
  left: 20px;
  background: #789;
  border-radius: 50%;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
  animation: snowfall 6s infinite ease-out;
}
@keyframes snowfall {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0) scale(1.5);
  }
  100% {
    opacity: 0.2px;
    transform: translate3d(-60px, 80px, 0) scale(0.6);
  }
}
.fall:nth-child(1) {
  left: 30%;
  animation-delay: -4.18;
}
.fall:nth-child(2) {
  left: 20%;
  animation-delay: -1s;
}
.fall:nth-child(3) {
  left: 10%;
  animation-delay: -3.5s;
}
.fall:nth-child(4) {
  left: 0%;
  animation-delay: -4.9s;
}
.fall:nth-child(5) {
  left: -15%;
  animation-delay: -0.75s;
}
.fall:nth-child(6) {
  left: -25%;
  animation-delay: -2.7s;
}
.fall:nth-child(7) {
  left: -35%;
  animation-delay: -4.25s;
}
.fall:nth-child(8) {
  left: -45%;
  animation-delay: -1.3s;
}

/* Cloudy */
.cloud_style_2 {
  margin: 0 auto;
  padding: 0;
}

.cloud_style_2::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 20px;
  background-color: #000;
  border-radius: 30px;
  position: absolute;
  box-shadow: 80px 0 0 10px #000, 40px 0 0 20px #000, 110px 0 0 -5px #000,
    80px 25px 0 10px #000, 40px 25px 0 20px #000, 0 40px 0 -5px #000,
    120px 22px 0 10px #000, 100px -30px 0 10px #fff, 60px -30px 0 10px #fff,
    130px -10px 0 10px #fff;
  padding-top: 15px;
  animation: bob 3s ease-in-out infinite;
}

/* Sunny */
.sunny {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 65px);
}

.sun_style_1 {
  height: 150px;
  width: 150px;
  z-index: 1;
  background: #ffeb90;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 100px rgb(252, 252, 144);
}
.shine {
  animation: sunshine 15s linear infinite;
  box-shadow: 0px 0px 100px rgb(255, 239, 97);
  height: 150px;
  width: 150px;
}
.ray {
  background: #ffdd4a;
  width: 150px;
  height: 150px;
  position: absolute;
}

.ray:nth-child(1) {
  transform: rotate(30deg);
}
.ray:nth-child(2) {
  transform: rotate(60deg);
}
@keyframes sunshine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Misty*/
.mist_style_1::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  top: -20px;
  left: 25px;
  background-color: #000;
  border-radius: 30px;
  position: relative;
  box-shadow: -17px -5px 0 15px #000, 100px -5px 0 15px #000,
    20px -15px 0 15px #000, 70px -25px 0 15px #000;
}
.mist {
  width: 180px;
  height: 39px;
  top: 20px;
  background-color: #000;
  border-radius: 20px;
  position: relative;
}

.fog {
  width: 180px;
  height: 140px;
}
.misty {
  position: relative;
  float: right;
  width: 2px;
  margin: -10px;
  left: 20px;
  background: #789;
  box-shadow: 1px 0.5px 1px 0.5px rgba(0, 0, 0, 0.75);
}

.misty:nth-child(1) {
  height: 45%;
  left: -20%;
  top: 5%;
  animation: mist 10s infinite alternate;
}
.misty:nth-child(2) {
  height: 45%;
  left: -70%;
  top: 5%;
  animation: mist 10s infinite alternate;
}
.misty:nth-child(3) {
  height: 50%;
  left: -20%;
  top: 15%;
  animation: misty 10s infinite alternate;
}
.misty:nth-child(4) {
  height: 50%;
  left: -80%;
  top: 15%;
  animation: misty 10s infinite alternate;
}
.misty:nth-child(5) {
  height: 45%;
  left: -30%;
  top: 30%;
  animation: mist 10s infinite alternate;
}
.misty:nth-child(6) {
  height: 45%;
  left: -80%;
  top: 30%;
  animation: mist 10s infinite alternate;
}

@keyframes mist {
  0% {
    opacity: 0.2;
    transform: translate(0, 0) rotate(90deg);
  }
  100% {
    opacity: 0.8;
    transform: translate(-40px, 0) rotate(90deg);
  }
}
@keyframes misty {
  0% {
    opacity: 0.8;
    transform: translate(-40px, 0) rotate(-90deg);
  }
  100% {
    opacity: 0.2;
    transform: translate(10px, 0) rotate(-90deg);
  }
}
