.header-stuff {
  position: absolute;
  right: 0;
  height: 92vh;
  top: 2;
  background-color: rgb(206, 204, 204);
  display: flex;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 50%;
  max-width: 450px;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 2;
}
