/* ========
Change Units Slider
=========== */
/* Hides Checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a109d4d8;
  transition: 1.5s;
  border-radius: 34px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider:before {
  position: absolute;
  content: " ";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(246, 243, 252);
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #008cff8c;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round:before {
  border-radius: 50%;
}
#current,
#current-time,
#current-bg {
  padding: 25px;
}
