.header-stuff {
  position: absolute;
  right: 0;
  height: 92vh;
  top: 2;
  background-color: rgb(206, 204, 204);
  display: flex;
  text-align: center;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  width: 50%;
  max-width: 450px;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 2;
}

.poph {
  animation: pop cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
  transform: translateX(0);
}

@keyframes pop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.shrinkh {
  animation: shrink cubic-bezier(0.42, 0, 0.58, 1) 1000ms;
}
@keyframes shrink {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
