.crumb {
  text-align: center;
  display: flex;
  min-height: fit-content;
  justify-content: space-around;
}

.pop-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style: none;
  padding-right: 20px;
  left: 2px;
}
a {
  text-decoration: none;
}
